html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='icon', type="image/x-icon",  href='assets/img/favicon.ico')
        block base
        block title
        block style
            link(rel='stylesheet', href='assets/libs/semantic/dist/semantic.min.css', type='text/css')
            link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
            link(rel='stylesheet', href='assets/libs/text-editor/richtext.min.css', type='text/css')
            link(rel='stylesheet', href='css/styles.css', type='text/css')
        //-You MUST include jQuery before Fomantic
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
        
        include includes/version
    body
        
        
        block content
        block script
            script(src='assets/libs/semantic/dist/semantic.min.js')
            script(src='assets/libs/text-editor/jquery.richtext.min.js')
            script(src='js/main.js')