@import '../fonts/fonts.less';
.reset();

.wrapper{
    .wrapper();
}

.scrollbar(@color_scrollbar-track, @color_scrollbar-thumb);




a, button{
  cursor: pointer;
  &:focus{
      outline: none;
  }
}
input{
  cursor: text;
  &:focus{
      outline: none;
  }
}


.ui.action.input input[type="file"] {
  display: none;
}
.btn-upload{
  .ui.action.input:not([class*="left action"])>input{
    height: 40px;
  }
  .fileUpload{
    margin: 0 !important;
  }
}
.ui.attached.segment{
  border: none;
}
.ui.input,
.ui.input.focus {
  width: 100%;
}

.ui.blue.button {
  margin-top: 15px;
}
textarea.ui.segment{
  width: 100%;
  min-height: 160px;
}