mixin table(dataThs, dataTds)
    table.ui.celled.table
        thead
            tr
                each item, index in dataThs
                    th=item.th
            tbody
                each td, index in dataTds
                    tr
                        td(data-label='Count')=index
                        td(data-label='NameRu')=td.nameRu
                        td(data-label='NameEn')=td.nameEn
                        td(data-label='img1')
                            img(src=td.img1)
                        td(data-label='img2')
                            img(src=td.img2)
                        
                        td(data-label='Action')
                            button.page__icon.page__icon_pen
                            button.page__icon.page__icon_basket
